<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.chabu.org/hwmap/HwMapDsl"
			class = "org.chabu.hwmap.hwMapDsl.HwMapDslPackage"
			genModel = "model/generated/HwMapDsl.genmodel" />
	</extension>
</plugin>
